*{
  box-sizing:border-box;
}
body{
  margin:1em 0;
  font-family:'Inconsolata', monospace;
}
#input, #output{
  width:50%;
  float:left;
}
#output{
  font-family: monospace;
  padding-left:2em;
}
#input{
  border-right:3px solid #ccc;
}

.ctrl a{
  color:#555;
  font-weight:bold;
  border: 2px solid #ccc;
  padding:.5em 1em;
  text-decoration:none;
  display:inline-block;
}

.ctrl a:first-of-type{
  margin-left:2em;
}

.ctrl a:hover{
  background:#efefef;
}

@media all and (max-width: 40em){
  #input, #output{
    width:100%;
    float:none;
  }
  #output{
    padding-left:1.5em;
  }
}