body{
  margin:0;
}
#input, #output{
  width:50%;
  float:left;
}

#output{
  font-family: monospace;
}

@media all and (max-width: 40em){
  #input, #output{
    width:100%;
    float:none;
  }
  #output{
    padding-left:1.5em;
  }
}