*{
  box-sizing:border-box;
}
h1{
  margin-left:1em;
}
h1 a{
  color: inherit;
  text-decoration:none;
}
body{
  margin:1em 0;
  font-family:'Inconsolata', monospace;
  color:#555;
}
#input, #output{
  width:50%;
  float:left;
}
#output{
  font-family: monospace;
  padding-left:2em;
}
#input{
  border-right:3px solid #ccc;
}

.ctrl a{
  color:#555;
  font-weight:bold;
  border: 2px solid #ccc;
  padding:.5em 1em;
  margin:.25em 0;
  display:inline-block;
  text-decoration:none;
  display:inline-block;
}

.ctrl{
  padding:0 0 1.5em 2em;
}

.ctrl a:hover{
  background:#efefef;
}

@media all and (max-width: 40em){
  #input, #output{
    width:100%;
    float:none;
  }
  #input{
    margin-bottom:1em;
  }
  #output{
    padding: 0em 0 1.5em 2.5em;
  }
}

footer{
  clear:both;
  padding: 2em;
  margin-top:2em;
  border-top:3px solid #ccc;
}

footer a {
  color:inherit;
  text-decoration:none;
}

.cf:after{
  content:' ';
  display:table;
  clear:both;
}